/*
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que esté por encima del contenido
  display: flex;
}

#h{
  background-color: gold;
}

span {
  margin: auto;
  text-align: center;
}

.example-spacer {
  flex: 1 1 auto;
}

button {
  text-align: center;
  margin: 0px 2px;
}
.content{
  margin-top: 75px;/* Ajusta según la altura de tu toolbar
}
*/
/* Importa el tema de Angular Material */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Estilos para el header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que esté por encima del contenido */
  display: flex;
}

/* Estilo para el botón Home */
#h {
  background-color: gold;
}

/* Centrar el texto del span */
span {
  margin: auto;
  text-align: center;
}

/* Espaciador flexible */
.example-spacer {
  flex: 1 1 auto;
}

/* Estilos para los botones */
button {
  text-align: center;
  margin: 0px 2px;
}

/* Ajuste del contenido para que no quede oculto detrás del header */
.content {
  margin-top: 75px; /* Ajusta según la altura de tu toolbar */
}

/* Estilos para el contenedor del sidenav */
.sidenav-container {
  height: 100%;
  margin-top: 75px; /* Ajusta según la altura de tu toolbar */
}
