<!--
<mat-toolbar class="header">
  <mat-toolbar-row>
    <img class="nav__logo" src="images/icon-House.png" width="auto" height="50px" />
    <span>Bienvenido {{nombre}}</span>
    <button id="h" mat-raised-button [routerLink]="'/home'">Home</button>
    <button mat-raised-button [routerLink]="'/login'">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

  <button mat-raised-button [routerLink]="'/usuarios'">Usuarios</button>
  <button mat-raised-button [routerLink]="'/new-usuario'">Nuevo Usuario</button>
  <button mat-raised-button [routerLink]="'/hoteles'">Hoteles</button>
  <button mat-raised-button [routerLink]="'/new-hotel'">Nuevo Hotel</button>
  <button mat-raised-button [routerLink]="'/habitacion'">Habitaciones</button>
  <button mat-raised-button [routerLink]="'/new-habitacion'">Nueva Habitacion</button>
  <button mat-raised-button [routerLink]="'/reservas'">Reservas</button>
  <button mat-raised-button [routerLink]="'/new-reserva'">Nuevo Reserva</button>
  <button mat-raised-button [routerLink]="'/resenias'">Resenias</button>
  <button mat-raised-button [routerLink]="'/new-resenia'">Nueva Resenia</button>
  <button mat-raised-button [routerLink]="'/numero-habitaciones'">Nro Habitaciones</button>
  <button mat-raised-button [routerLink]="'/habFavorita'">Habitacion Fav.</button>

 Resto del contenido de la página
<div class="content">
</div>
-->

<mat-toolbar class="header">
  <mat-toolbar-row>
    <!-- icono de hamburguesa para abrir el menú -->
    <button mat-icon-button (click)="toggleSidenav()" id="menuBurguer">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="nav__logo" src="images/icon-House.png" width="auto" height="50px" />
    <span>Bienvenido {{nombre}}</span>
    <button id="h" mat-raised-button [routerLink]="'/home'">Home</button>
    <button mat-raised-button [routerLink]="'/login'">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" position="start">
    <button mat-raised-button [routerLink]="'/usuarios'">Usuarios</button>
    <button mat-raised-button [routerLink]="'/new-usuario'">Nuevo Usuario</button>
    <button mat-raised-button [routerLink]="'/hoteles'">Hoteles</button>
    <button mat-raised-button [routerLink]="'/new-hotel'">Nuevo Hotel</button>
    <button mat-raised-button [routerLink]="'/habitacion'">Habitaciones</button>
    <button mat-raised-button [routerLink]="'/new-habitacion'">Nueva Habitacion</button>
    <button mat-raised-button [routerLink]="'/reservas'">Reservas</button>
    <button mat-raised-button [routerLink]="'/new-reserva'">Nuevo Reserva</button>
    <button mat-raised-button [routerLink]="'/resenias'">Resenias</button>
    <button mat-raised-button [routerLink]="'/new-resenia'">Nueva Resenia</button>
    <button mat-raised-button [routerLink]="'/numero-habitaciones'">Nro Habitaciones</button>
    <button mat-raised-button [routerLink]="'/habFavorita'">Habitacion Fav.</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Resto del contenido de la página -->
    <div class="content">
      <main>
        <section class="container" id="home">
          <div class="container__leading">
            <h2 class="title">
              <p>Bienvenidos a </p>
              <p id="second"> EHOUSE </p>
              <p> Te acompañamos en tu siguiente aventura </p>
            </h2>
          </div>
        </section>
        <section class="container" id="about-us">
          <div class="about__leading">
            <h2>Acerca de</h2>
          </div>
          <div class="about__content">
            <p>
              <b>EHouse</b> se presenta como una plataforma web innovadora destinada a transformar la experiencia de
              reserva de alojamiento. En un mundo donde las opciones para alquilar casas y departamentos son
              abundantes, EHouse se distingue por ofrecer una solución integral que aborda las necesidades y
              desafíos actuales de los viajeros.
            </p>
          </div>
        </section>
      </main>
      <footer class="footer">
        <section>
          &copy; EHouse - Todos los derechos reservados 2024
        </section>
        <section class="footer_item">
          <a class="footer_link" href="#" target="_blank">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a class="footer_link" href="#" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </section>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
