/*@import '@angular/material/prebuilt-themes/indigo-pink.css';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que esté por encima del contenido
  display: flex;
}

#h{
  background-color: gold;
}

span {
  margin: auto;
  text-align: center;
}

.example-spacer {
  flex: 1 1 auto;
}

button {
  text-align: center;
  margin: 0px 2px;
}
.content{
  margin-top: 75px;/* Ajusta según la altura de tu toolbar
}
*/
/* Asegura que el tema de Angular Material se aplica correctamente */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Barra de navegación */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  background-color: whitesmoke;
  padding: 0 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#h {
  background-color: gold;
}

span {
  margin: auto;
  text-align: center;
  color: black;
}

.example-spacer {
  flex: 1 1 auto;
}

button {
  text-align: center;
  margin: 0px 2px;
}

.content {
  padding-top: 75px;
}

mat-sidenav-container {
  display: flex;
  height: 100vh;
}

mat-sidenav {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

mat-sidenav button {
  width: 100%;
  margin-bottom: 10px;
}

mat-sidenav-content {
  flex: 1;
  background-color: #e9ecef;
  padding: 20px;
}
